USE [master]
GO
/****** Object:  Database [GrupoATeleshopping]    Script Date: 14/12/2023 0:18:01 ******/
CREATE DATABASE [GrupoATeleshopping]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GrupoATeleshopping', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GrupoATeleshopping.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GrupoATeleshopping_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GrupoATeleshopping_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GrupoATeleshopping].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GrupoATeleshopping]
GO
/****** Object:  Table [dbo].[CarritoCompras]    Script Date: 14/12/2023 0:18:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarritoCompras](
	[CarritoID] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [nvarchar](max) NULL,
	[ProductoID] [int] NULL,
	[Cantidad] [int] NULL,
	[NombreProducto] [nvarchar](max) NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Precio] [decimal](10, 2) NULL,
	[TotalAPagar] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[CarritoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Envio]    Script Date: 14/12/2023 0:18:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Envio](
	[Seguimiento] [varchar](255) NULL,
	[CI] [varchar](255) NULL,
	[Nombre] [varchar](255) NULL,
	[Fecha] [varchar](255) NULL,
	[Transportista] [varchar](50) NULL,
	[Valor] [varchar](255) NULL,
	[Descripcion] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logistica]    Script Date: 14/12/2023 0:18:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logistica](
	[NUM_SEGUIMIENTO] [int] IDENTITY(1,1) NOT NULL,
	[Destinatario] [nvarchar](max) NULL,
	[Fecha_envio] [nvarchar](255) NULL,
	[Transporte] [nvarchar](max) NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Precio] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[NUM_SEGUIMIENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pago]    Script Date: 14/12/2023 0:18:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pago](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CI] [varchar](20) NULL,
	[NombreYApellido] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Direccion] [nvarchar](200) NULL,
	[Telf] [varchar](20) NULL,
	[Pago] [nvarchar](200) NULL,
	[FechaHora] [datetime] NULL,
	[Total] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 14/12/2023 0:18:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Foto] [varbinary](max) NULL,
	[Nombre] [nvarchar](255) NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Precio] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userDatos]    Script Date: 14/12/2023 0:18:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userDatos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NombreYApellido] [varchar](500) NOT NULL,
	[CI] [varchar](500) NOT NULL,
	[Email] [varchar](500) NOT NULL,
	[Contrasena] [varchar](500) NOT NULL,
	[ConfirmarContrasena] [varchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Envio] ([Seguimiento], [CI], [Nombre], [Fecha], [Transportista], [Valor], [Descripcion]) VALUES (N'199', N'0909090909', N'AA', N'2023-12-13', N'SERVIENTREGA', N'2,00', N'Medias')
INSERT [dbo].[Envio] ([Seguimiento], [CI], [Nombre], [Fecha], [Transportista], [Valor], [Descripcion]) VALUES (N'637', N'0808080808', N'BB', N'2023-12-13', N'LAARCOURRIER', N'4,00', N'medias')
INSERT [dbo].[Envio] ([Seguimiento], [CI], [Nombre], [Fecha], [Transportista], [Valor], [Descripcion]) VALUES (N'583', N'0707070707', N'CC', N'2023-12-14', N'DHL', N'45,00', N'Camisetas')
GO
SET IDENTITY_INSERT [dbo].[Logistica] ON 

INSERT [dbo].[Logistica] ([NUM_SEGUIMIENTO], [Destinatario], [Fecha_envio], [Transporte], [Descripcion], [Precio]) VALUES (1, N'Hector', N'lunes, 11 de diciembre de 2023', N'UPS', N'Medias', CAST(44.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Logistica] OFF
GO
SET IDENTITY_INSERT [dbo].[Pago] ON 

INSERT [dbo].[Pago] ([ID], [CI], [NombreYApellido], [Email], [Direccion], [Telf], [Pago], [FechaHora], [Total]) VALUES (1, N'0909090909', N'AA', N'vfvbfbv', N'xdhu', N'0987654321', N'Tarjeta de crédito', CAST(N'2023-12-13T21:45:30.463' AS DateTime), CAST(2.00 AS Decimal(10, 2)))
INSERT [dbo].[Pago] ([ID], [CI], [NombreYApellido], [Email], [Direccion], [Telf], [Pago], [FechaHora], [Total]) VALUES (2, N'0808080808', N'BB', N'bb@gmail.com', N'fhghf', N'0999999999', N'Transferencia Bancaria', CAST(N'2023-12-13T23:59:03.827' AS DateTime), CAST(4.00 AS Decimal(10, 2)))
INSERT [dbo].[Pago] ([ID], [CI], [NombreYApellido], [Email], [Direccion], [Telf], [Pago], [FechaHora], [Total]) VALUES (3, N'0707070707', N'CC', N'cc@gmail.com', N'dnfdj', N'0999123434', N'Tarjeta de crédito', CAST(N'2023-12-14T00:14:48.257' AS DateTime), CAST(45.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Pago] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
SET IDENTITY_INSERT [dbo].[userDatos] ON 

INSERT [dbo].[userDatos] ([ID], [NombreYApellido], [CI], [Email], [Contrasena], [ConfirmarContrasena]) VALUES (1, N'Hector Magallanes', N'0950678990', N'hectorM08@gmail.com', N'Hector08', N'Hector08')
INSERT [dbo].[userDatos] ([ID], [NombreYApellido], [CI], [Email], [Contrasena], [ConfirmarContrasena]) VALUES (2, N'Armando Cercado', N'0912345678', N'cercadoA@gmail.com', N'Cercado08A', N'Cercado08A')
INSERT [dbo].[userDatos] ([ID], [NombreYApellido], [CI], [Email], [Contrasena], [ConfirmarContrasena]) VALUES (94, N'Mario Gonzales', N'0920304567', N'Mario2345@gmail.com', N'Mario08A', N'Mario08A')
SET IDENTITY_INSERT [dbo].[userDatos] OFF
GO
/****** Object:  StoredProcedure [dbo].[ActualizarRegistroPago]    Script Date: 14/12/2023 0:18:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ActualizarRegistroPago]
    @CI NVARCHAR(255),
    @NombreYApellido NVARCHAR(MAX),
    @Email NVARCHAR(255),
    @Direccion NVARCHAR(MAX),
    @Telf NVARCHAR(255),
    @Pago NVARCHAR(255),
    @FechaHora DATETIME,
    @Total DECIMAL(18, 2)
AS
BEGIN
    UPDATE Pago
    SET
        CI = @CI,
        NombreYApellido = @NombreYApellido,
        Email = @Email,
        Direccion = @Direccion,
        Telf = @Telf,
        Pago = @Pago,
        Total = @Total
    WHERE FechaHora = @FechaHora;
END
GO
/****** Object:  StoredProcedure [dbo].[BuscarContrasenaPorCI]    Script Date: 14/12/2023 0:18:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BuscarContrasenaPorCI]
    @ci VARCHAR(10),
    @contrasena VARCHAR(100) OUTPUT
AS
BEGIN
    SELECT @contrasena = Contrasena FROM userDatos WHERE CI = @ci;
END;
GO
/****** Object:  StoredProcedure [dbo].[BuscarPagoPorCI]    Script Date: 14/12/2023 0:18:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BuscarPagoPorCI]
    @CI VARCHAR(255)
AS
BEGIN
    SELECT NombreYApellido, Total FROM Pago WHERE CI = @CI;
END;
GO
/****** Object:  StoredProcedure [dbo].[BuscarUsuarioPorCIPago]    Script Date: 14/12/2023 0:18:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BuscarUsuarioPorCIPago]
    @ci NVARCHAR(10)
AS
BEGIN
    SELECT nombreYApellido, email
    FROM userDatos
    WHERE ci = @ci;
END
GO
/****** Object:  StoredProcedure [dbo].[CargarDatosPago]    Script Date: 14/12/2023 0:18:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CargarDatosPago]
    @NombreYApellido NVARCHAR(MAX)
AS
BEGIN
    SELECT CI, NombreYApellido, Email, Direccion, Telf, Pago, FechaHora, Total
    FROM Pago
    WHERE NombreYApellido = @NombreYApellido;
END
GO
/****** Object:  StoredProcedure [dbo].[CrearUsuario]    Script Date: 14/12/2023 0:18:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CrearUsuario]
    @nombreYApellido VARCHAR(500),
    @ci VARCHAR(500),
	@email VARCHAR(500),
    @contrasena VARCHAR(500),
    @confirmarContrasena VARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO userDatos (NombreYApellido, [CI], Email, Contrasena, ConfirmarContrasena)
    VALUES (@nombreYApellido, @ci, @email, @contrasena, @confirmarContrasena);
END;
GO
/****** Object:  StoredProcedure [dbo].[EliminarRegistroPago]    Script Date: 14/12/2023 0:18:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarRegistroPago]
    @FechaHora DATETIME
AS
BEGIN
    DELETE FROM Pago
    WHERE FechaHora = @FechaHora;
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarUsuarioPorCI]    Script Date: 14/12/2023 0:18:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarUsuarioPorCI]
    @CI NVARCHAR(10)
AS
BEGIN
    -- Verificar si el usuario existe antes de intentar eliminarlo
    IF EXISTS (SELECT 1 FROM userDatos WHERE CI = @CI)
    BEGIN
        -- Realizar la eliminación del usuario
        DELETE FROM userDatos WHERE CI = @CI;
        -- Indicar que la eliminación fue exitosa
        SELECT 1 AS EliminacionExitosa;
    END
    ELSE
    BEGIN
        -- Indicar que el usuario no existe, por lo que no se pudo eliminar
        SELECT 0 AS EliminacionExitosa;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[ExisteUsuario]    Script Date: 14/12/2023 0:18:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ExisteUsuario]
    @ci VARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT COUNT(*) FROM userDatos WHERE [CI] = @ci;
END;
GO
/****** Object:  StoredProcedure [dbo].[InsertarEnvio]    Script Date: 14/12/2023 0:18:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarEnvio]
    @Seguimiento VARCHAR(255),
    @CI VARCHAR(255),
    @Nombre VARCHAR(255),
    @Fecha VARCHAR(255),
    @Transportista VARCHAR(50),
    @Valor VARCHAR(255),
    @Descripcion VARCHAR(255)
AS
BEGIN
    INSERT INTO Envio (Seguimiento, CI, Nombre, Fecha, Transportista, Valor, Descripcion)
    VALUES (@Seguimiento, @CI, @Nombre, @Fecha, @Transportista, @Valor, @Descripcion);
END;
GO
/****** Object:  StoredProcedure [dbo].[ObtenerCantidadEnviosEnProceso]    Script Date: 14/12/2023 0:18:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerCantidadEnviosEnProceso]
    @CI VARCHAR(255)
AS
BEGIN
    SELECT COUNT(*) FROM Envio WHERE CI = @CI;
END;

GO
/****** Object:  StoredProcedure [dbo].[ObtenerEnvios]    Script Date: 14/12/2023 0:18:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerEnvios]
AS
BEGIN
    SELECT * FROM Envio;
END;
GO
/****** Object:  StoredProcedure [dbo].[ObtenerNombreYApellido]    Script Date: 14/12/2023 0:18:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerNombreYApellido]
    @ci VARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT NombreYApellido FROM userDatos WHERE CI = @ci;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AgregarAlCarrito]    Script Date: 14/12/2023 0:18:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AgregarAlCarrito]
    @NombreUsuario NVARCHAR(MAX),
    @ProductoID INT
AS
BEGIN
    DECLARE @NombreProducto NVARCHAR(MAX)
    DECLARE @Descripcion NVARCHAR(MAX)
    DECLARE @Precio DECIMAL(10, 2)
    DECLARE @Cantidad INT = 1 -- Valor predeterminado de Cantidad
    DECLARE @TotalAPagar DECIMAL(10, 2) -- Campo para el monto total

    -- Obtener el nombre, descripción y precio del producto seleccionado
    SELECT @NombreProducto = Nombre, @Descripcion = Descripcion, @Precio = Precio
    FROM Productos
    WHERE ID = @ProductoID

    -- Calcular el monto total
    SET @TotalAPagar = @Precio * @Cantidad

    -- Insertar el producto en el carrito de compras con el monto total
    INSERT INTO CarritoCompras (NombreUsuario, ProductoID, Cantidad, NombreProducto, Descripcion, Precio, TotalAPagar)
    VALUES (@NombreUsuario, @ProductoID, @Cantidad, @NombreProducto, @Descripcion, @Precio, @TotalAPagar)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BuscarProductosPorNombre]    Script Date: 14/12/2023 0:18:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_BuscarProductosPorNombre]
    @Nombre NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT * FROM Productos WHERE Nombre LIKE '%' + @Nombre + '%';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_BuscarUsuarioPorCI]    Script Date: 14/12/2023 0:18:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_BuscarUsuarioPorCI]
    @CI NVARCHAR(MAX)
AS
BEGIN
    SELECT nombreYApellido, email
    FROM Usuarios
    WHERE CI = @CI;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CalcularCantidadAgrupada]    Script Date: 14/12/2023 0:18:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CalcularCantidadAgrupada]
    @NombreUsuario NVARCHAR(MAX)
AS
BEGIN
    SELECT
        cc.ProductoID,
        p.Nombre AS NombreProducto,
        p.Descripcion AS DescripcionProducto, -- Agrega el campo DescripcionProducto
        SUM(cc.Cantidad) AS Cantidad,
        SUM(cc.Cantidad * cc.Precio) AS TotalAPagar
    FROM CarritoCompras cc
    JOIN Productos p ON cc.ProductoID = p.ID
    WHERE cc.NombreUsuario = @NombreUsuario
    GROUP BY cc.ProductoID, p.Nombre, p.Descripcion;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarProducto]    Script Date: 14/12/2023 0:18:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarProducto]
    @ProductoID INT
AS
BEGIN
    DELETE FROM Productos
    WHERE ID = @ProductoID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarRegistrosCarrito]    Script Date: 14/12/2023 0:18:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarRegistrosCarrito]
AS
BEGIN
    DELETE FROM CarritoCompras;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_GetProductos]    Script Date: 14/12/2023 0:18:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetProductos]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT * FROM Productos;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarProducto]    Script Date: 14/12/2023 0:18:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarProducto]
    @Foto VARBINARY(MAX),
    @Nombre NVARCHAR(MAX),
    @Descripcion NVARCHAR(MAX),
    @Precio DECIMAL(18, 2)
AS
BEGIN
    INSERT INTO Productos (Foto, Nombre, Descripcion, Precio)
    VALUES (@Foto, @Nombre, @Descripcion, @Precio);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ModificarProducto]    Script Date: 14/12/2023 0:18:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Crear rl procedimiento para modificar
CREATE PROCEDURE [dbo].[sp_ModificarProducto]
    @ID INT,
    @Foto VARBINARY(MAX) = NULL,  -- El par�metro de imagen puede ser nulo
    @Nombre NVARCHAR(255),
    @Descripcion NVARCHAR(MAX),
    @Precio DECIMAL(10, 2)
AS
BEGIN
    -- Verificar si se proporcion� una nueva imagen
    IF @Foto IS NOT NULL
    BEGIN
        -- Actualizar la imagen solo si se proporcion� una nueva
        UPDATE Productos
        SET
            Foto = @Foto,
            Nombre = @Nombre,
            Descripcion = @Descripcion,
            Precio = @Precio
        WHERE ID = @ID;
    END
    ELSE
    BEGIN
        -- Mantener la imagen existente y actualizar otros campos
        UPDATE Productos
        SET
            Nombre = @Nombre,
            Descripcion = @Descripcion,
            Precio = @Precio
        WHERE ID = @ID;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RealizarPago]    Script Date: 14/12/2023 0:18:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RealizarPago]
    @CI NVARCHAR(MAX),
    @NombreYApellido NVARCHAR(MAX),
    @Email NVARCHAR(MAX),
    @Direccion NVARCHAR(MAX),
    @Telf NVARCHAR(MAX),
    @Pago NVARCHAR(MAX),
    @FechaHora DATETIME,
    @Total DECIMAL(18, 2)
AS
BEGIN
    INSERT INTO Pago (CI, NombreYApellido, Email, Direccion, Telf, Pago, FechaHora, Total)
    VALUES (@CI, @NombreYApellido, @Email, @Direccion, @Telf, @Pago, @FechaHora, @Total);
END;
GO
/****** Object:  StoredProcedure [dbo].[VerificarUsuario]    Script Date: 14/12/2023 0:18:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[VerificarUsuario]
    @ci VARCHAR(500),
    @contrasena VARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT COUNT(*) FROM userDatos WHERE [CI] = @ci AND Contrasena = @contrasena;
END;
GO
USE [master]
GO
